
/.idea/misc.xml
/.idea/moviepro_66.iml
/.idea/shelf/Uncommitted_changes_before_Update_at_01-12-2020_00_15_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_01-12-2020_00_16_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_01-12-2020_00_15__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_01-12-2020_00_16__Default_Changelist_.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_01-12-2020_00_15_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_01-12-2020_00_16_[Default_Changelist]/shelved.patch
